@import "mixins";
@import "variables";

header {
  padding: 15px 0px;

  .container {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      gap: 64px;
      position: relative;

      a {
        color: $black_color;
        font-size: 14px;

        &:hover {
          color: $accent_color;
        }
      }

      .dropdown-button {
        border: none;
        outline: none;
        background: initial;
        padding: 0px;

        color: $black_color;
        font-weight: 400;
        font-size: 14px;
        line-height: 18.2px;

        .icon {
          color: $accent_color;
        }

        &:hover {
          color: $accent_color;
        }
      }

      .dropdown {
        position: absolute;
        top: 150%;
        right: 0px;
        background: $white_color;
        border-radius: 10px;
        filter: drop-shadow(0px 5px 24px rgba($color: #1b0000, $alpha: 0.2));
        z-index: 10;

        li {
          list-style-type: none;

          button {
            background: none;
            border: none;
            border-radius: 0px;
            outline: none;

            color: $black_color;
            width: 100%;
            text-align: right;
            padding: 10px 25px;
            border-bottom: 1px solid $light_grey_color;
            line-height: 18.2px;
            font-family: $nunito_font;
            font-weight: 400;
            font-size: 14px;

            &:hover {
              color: $accent_color;
            }
          }

          &:last-child button {
            border-bottom: none;
          }
        }
      }
    }
  }
}
