@import "variables";
@import "mixins";

footer {
  background: $black_color;
  padding: 45px 0px;

  .container {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .info-column {
      display: flex;
      flex-direction: column;
      gap: 35px;

      section {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          display: flex;
          gap: 10px;
          color: $white_color;

          p {
            font-family: $nunito_font;
            font-weight: 400;
            font-size: 12px;
            line-height: 16.37px;
          }

          &:first-child p {
            margin-left: 5px;
          }
        }
      }
    }

    .nav-column {
      display: flex;
      gap: 110px;

      section {
        p {
          margin-bottom: 20px;
          font-family: $nunito_font;
          font-weight: 600;
          font-size: 16px;
          line-height: 21.82px;
          color: $white_color;
        }

        nav {
          display: flex;
          flex-direction: column;
          gap: 10px;

          a {
            font-family: $nunito_font;
            font-weight: 400;
            font-size: 14px;
            line-height: 15.4px;
            color: $dark_grey_color;
            max-width: 165px;
          }
        }
      }
    }

    .contacts-column {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 37px;

      section {
        text-align: right;

        h3 {
          font-family: $nunito_font;
          font-weight: 700;
          font-size: 24px;
          line-height: 26.4px;
          color: $white_color;
          margin-bottom: 6px;
        }

        a {
          font-family: $nunito_font;
          font-weight: 400;
          font-size: 14px;
          line-height: 15.4px;
          color: $white_color;
          border-bottom: 1px dashed $white_color;
        }
      }

      nav {
        display: flex;
        gap: 13px;

        a {
          color: $white_color;
          font-size: 17px;
        }
      }
    }
  }
}
