$accent_color: #ff284c;
$hover_accent_color: #ff627c;
$click_accent_color: #d10628;
$white_color: #ffffff;
$black_color: #272b38;
$click_black_color: #3e414e;
$blue_color: #467edb;
$light_blue_color: #4a8fb6;
$hover_light_blue_color: #467184;
$click_light_blue_color: #86b2cb;
$green_color: #55bc44;
$light_grey_color: #e9eaeb;
$dark_grey_color: #7e8189;
